In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2021-04-04 15:30:43,38.5167,-28.7000,64.40,82,75,20.71
1,1,Yarensk,RU,2021-04-04 15:30:44,62.1675,49.0916,23.68,92,79,2.26
2,2,Kashi,CN,2021-04-04 15:30:44,39.4547,75.9797,48.20,57,75,2.24
3,3,Cape Town,ZA,2021-04-04 15:25:51,-33.9258,18.4232,73.99,68,20,13.80
4,4,Manzil Kamil,TN,2021-04-04 15:30:44,35.6248,10.6673,68.00,52,100,10.36

In [20]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Bengkulu,ID,2021-04-04 15:27:05,-3.8004,102.2655,78.04,84,100,10.04
11,11,Axim,GH,2021-04-04 15:30:46,4.8699,-2.2405,84.60,70,34,9.06
13,13,Lata,PT,2021-04-04 15:27:27,40.1629,-8.3327,75.00,43,0,8.70
20,20,Bandundu,CD,2021-04-04 15:30:48,-3.3167,17.3667,85.95,62,67,3.24
23,23,Mahebourg,MU,2021-04-04 15:30:49,-20.4081,57.7000,80.60,78,20,8.05
27,27,Santa Rosalia,MX,2021-04-04 15:30:50,27.3167,-112.2833,82.09,22,35,3.33
31,31,Carnarvon,AU,2021-04-04 15:27:06,-24.8667,113.6333,78.80,73,56,14.97
34,34,Hithadhoo,MV,2021-04-04 15:30:30,-0.6000,73.0833,83.75,75,69,17.36
35,35,Butaritari,KI,2021-04-04 15:30:52,3.0707,172.7902,81.23,79,37,9.64
40,40,Bocana De Paiwas,NI,2021-04-04 15:30:53,12.7857,-85.1227,87.42,44,55,18.70

In [37]:
preferred_cities_df_new = preferred_cities_df.dropna()
preferred_cities_df_new.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Bengkulu,ID,2021-04-04 15:27:05,-3.8004,102.2655,78.04,84,100,10.04
11,11,Axim,GH,2021-04-04 15:30:46,4.8699,-2.2405,84.60,70,34,9.06
13,13,Lata,PT,2021-04-04 15:27:27,40.1629,-8.3327,75.00,43,0,8.70
20,20,Bandundu,CD,2021-04-04 15:30:48,-3.3167,17.3667,85.95,62,67,3.24
23,23,Mahebourg,MU,2021-04-04 15:30:49,-20.4081,57.7000,80.60,78,20,8.05

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_new[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
8           Bengkulu      ID     78.04  -3.8004  102.2655
11              Axim      GH     84.60   4.8699   -2.2405
13              Lata      PT     75.00  40.1629   -8.3327
20          Bandundu      CD     85.95  -3.3167   17.3667
23         Mahebourg      MU     80.60 -20.4081   57.7000
27     Santa Rosalia      MX     82.09  27.3167 -112.2833
31         Carnarvon      AU     78.80 -24.8667  113.6333
34         Hithadhoo      MV     83.75  -0.6000   73.0833
35        Butaritari      KI     81.23   3.0707  172.7902
40  Bocana De Paiwas      NI     87.42  12.7857  -85.1227

In [44]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Bengkulu,ID,78.04,-3.8004,102.2655,Grage Hotel Bengkulu
11,Axim,GH,84.60,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
13,Lata,PT,75.00,40.1629,-8.3327,Casa Maquia
20,Bandundu,CD,85.95,-3.3167,17.3667,Coja Color
23,Mahebourg,MU,80.60,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
27,Santa Rosalia,MX,82.09,27.3167,-112.2833,Hotel Las Casitas Santa Rosalia
31,Carnarvon,AU,78.80,-24.8667,113.6333,Hospitality Carnarvon
34,Hithadhoo,MV,83.75,-0.6000,73.0833,Scoop Guest House
35,Butaritari,KI,81.23,3.0707,172.7902,Isles Sunset Lodge
40,Bocana De Paiwas,NI,87.42,12.7857,-85.1227,Guapinol Cabaña Monge

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))